.hover-zoom {
  transition: transform 0.1s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.xsmall {
  font-size: 1rem !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

